<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295228823717-siiqpvntf8evm1vg9emp8r4cm6kjef6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295228823717-siiqpvntf8evm1vg9emp8r4cm6kjef6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBhZsedfVE2ceK1KObvds8EMY0JoqGNFEw</string>
	<key>GCM_SENDER_ID</key>
	<string>295228823717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimu0929.JasperQuiz220422</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebaseapp-e3112</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebaseapp-e3112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295228823717:ios:d048b3a5953d0c4902554c</string>
</dict>
</plist>